<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>


	<bean id="org.sakaiquebec.opensyllabus.common.dao.ResourceDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target">
			<bean
				class="org.sakaiquebec.opensyllabus.common.dao.ResourceDaoImpl"
				singleton="true" init-method="init">

				<property name="sessionFactory">
					<ref
						bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
				</property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>

	<bean id="org.sakaiquebec.opensyllabus.common.dao.COConfigDao"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"
			ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
		<property name="target">
			<bean
				class="org.sakaiquebec.opensyllabus.common.dao.COConfigDaoImpl"
				singleton="true" init-method="init">

				<property name="sessionFactory">
					<ref
						bean="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
				</property>
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>

	</bean>

</beans>
