.OsylManager-action{
	color : #006e96;
	font-size: 14px;
	cursor: pointer;
}

.OsylManager-action-up-disabled{
	color: #bbbbff;
	cursor: text
}
/*----------------------------------------------------------------------------------------------------------------*/
.OsylManager-infoView{
	margin: 10px 0 0 10px;
}

.OsylManager-infoView .topCenter,
.OsylManager-infoView .bottomCenter {
  background:url(images/ui/hborder.png) repeat-x;
  height:8px;
  background-color: #f2f2f2
}
.OsylManager-infoView .bottomCenter {background-position:bottom left}

.OsylManager-infoView .middleLeft,
.OsylManager-infoView .middleRight {
  background:url(images/ui/vborder.png) repeat-y;
  width:8px;
  background-color: #f2f2f2
}
.OsylManager-infoView .middleRight {background-position:top right}

.OsylManager-infoView .topLeftInner,
.OsylManager-infoView .topRightInner,
.OsylManager-infoView .bottomLeftInner,
.OsylManager-infoView .bottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}
.OsylManager-infoView .topLeft {
  background: url(images/workspace_corner.png) no-repeat 0 0;
  -background: url(images/workspace_corner_ie6.png) no-repeat 0 0;
}
.OsylManager-infoView .topRight {
  background: url(images/workspace_corner.png) no-repeat -8px 0;
  -background: url(images/workspace_corner_ie6.png) no-repeat -8px 0;
}
.OsylManager-infoView .bottomLeft {
  background: url(images/workspace_corner.png) no-repeat 0 -8px;
  -background: url(images/workspace_corner_ie6.png) no-repeat 0 -8px;
}
.OsylManager-infoView .bottomRight {
  background: url(images/workspace_corner.png) no-repeat -8px -8px;
  -background: url(images/workspace_corner_ie6.png) no-repeat -8px -8px;
}

* html .OsylManager-infoView .topLeftInner,
* html .OsylManager-infoView .topRightInner,
* html .OsylManager-infoView .bottomLeftInner,
* html .OsylManager-infoView .bottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

.OsylManager-infoView .middleCenterInner {	
	margin:0 0 -5px 0;
	background-color: #f2f2f2;
}

/*----------------------------------------------------------------------------------------------------------------*/
.OsylManager-mainView-actionList td{
	padding-right: 5px;
	padding-bottom: 1px;
}

.OsylManager-mainView-actionList{
	margin: 0 0 0 10px;
}

.OsylManager-panel{
	margin:10px 0px 5px 0px;
}

.OsylManager-panel .gwt-TextBox {
  margin-top: 1px;
}

.OsylManager-panel .Osyl-Button {
  margin-top: 0px;
}

.OsylManager-panel .gwt-ListBox {
  margin-top: 2px;
	font-size: 8pt;
}

.OsylManager-panel .OsylManager-mainView-label {
	margin: 4px 10px 0px 30px;
}

/*----------------------------------------------------------------------------------------------------------------*/
.OsylManager-form{
	padding:0px;
	font:normal 100% Arial, Verdana, sans-serif;
	color:#000;
	background-color:transparent;
}

.OsylManager-form-button {
	text-align: center;
}

.OsylManager-form .dragdrop-handle {
cursor:pointer;
}

.OsylManager-form-title{
	font:bold 14px Arial,Verdana,sans-serif;
	margin-bottom:10px;
	text-align:center;
}

.OsylManager-form-label{
	font:bold 12px Arial,Verdana,sans-serif;
}

.OsylManager-form-genericPanel{
	margin:3px;
	width:600px;
}

.OsylManager-form-publicationPanel{
	margin:3px;
	width:250px;
}

.OsylManager-form-publicationText{
	text-decoration: blink;
	color: red;
	font:bold 12px Arial,Verdana,sans-serif;
}
/*----------------------------------------------------------------------------------------------------------------*/
.OsylManager-rootPanel>table{
	width:98%;
}
.OsylManager-courseListView,
.OsylManager-courseListView table{
	width:100%;
}

.OsylManager-mainView-label{
	font-weight: bold;
	font-size: 12px;
}

.OsylManager-mainView-tabBar {}

.OsylManager-mainView-tabBar .gwt-TabBarItem-wrapper {}

.OsylManager-mainView-tabBar .gwt-TabBarItem-wrapper-selected { }

.OsylManager-mainView-tabBar .gwt-TabBarFirst {
width:0px;
}
.OsylManager-mainView-tabBar .gwt-TabBarRest {
}
.OsylManager-mainView-tabBar .gwt-TabBarItem {
background:none repeat scroll 0 0 #f2f2f2;
color:black;
cursor:pointer;
font-weight:normal;
margin-left:6px;
padding:3px 6px;
text-align:center;
}
.OsylManager-mainView-tabBar .gwt-TabBarItem-selected {
background:none repeat scroll 0 0 #f2f2f2;
cursor:default;
color: black;
font-weight: bold;
}
.OsylManager-mainView-tabBar .gwt-TabBarItem-disabled {
color:#a2a2a2;
cursor:default;
}

.OsylManager-mainView-tabPanel .gwt-TabPanelBottom {
border-color:#d6dbdf;
border-style:solid;
border-width:3px 2px 2px;
overflow:hidden;
padding:6px;
}

.OsylManager-scrollTable{
border:1px solid;
width:95%;
height:400px;
padding:3px;
}

.OsylManager-scrollTable-row{
background-color:#ffffff;
cursor:pointer;
}

.OsylManager-scrollTable-row-hover{
background-color:#ccccff;
cursor:pointer;
}

.OsylManager-scrollTable-row-selected{
color:#ffffff;
background-color:#000066;
cursor:pointer;
}

.gwt-ScrollTable .headerWrapper{
background-color : #e7e7e7;
}

.gwt-ScrollTable .dataTable td,
.gwt-ScrollTable .headerTable td {
  border-color: #ccc;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  padding : 5px;
  white-space: nowrap;
  overflow: hidden;
}

.gwt-ScrollTable .footerTable .footerRow {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  padding : 5px;
  white-space: nowrap;
  overflow: hidden;
}
/*----------------------------------------------------------------------------------------------------------------*/

.OsylManager-SuggestBox
{
    border: 1px solid #666;
    text-align: left;
    width: 400px;
}
.OsylManager-SuggestBoxPopup
{
    text-align: left;
    cursor: pointer;
    cursor: hand;
    border: 1px solid #666;
    border-top: 0;
    background-color: #fff;
    z-index: 11001;

}
.OsylManager-SuggestBoxPopup .item{ }

.OsylManager-SuggestBoxPopup .item-selected
{
    background-color:#ffc;
}

.OsylManager-SuggestBoxPopup .suggestPopupTopLeftInner{}
	
.OsylManager-SuggestBoxPopup .suggestPopupTopCenter  {}
	
.OsylManager-SuggestBoxPopup .suggestPopupTopRightInner {}

.OsylManager-SuggestBoxPopup .suggestPopupMiddleLeft {}

.OsylManager-SuggestBoxPopup .suggestPopupMiddleRight {}

.OsylManager-SuggestBoxPopup .suggestPopupBottomLeftInner {}

.OsylManager-SuggestBoxPopup .suggestPopupBottomCenter {}

.OsylManager-SuggestBoxPopup .suggestPopupBottomRightInner {}