.OsylManager-form-title {
	font-size: 14px;
	font-weight: bold;
}

.OsylManager-form-label {
	width: 130px;
	height: 30px;
	padding: 0px 5px 0px 10px;
}

.OsylManager-form-element {
	width: 150px;
	height: 30px;
	padding: 0px 5px 0px 10px;
}

.OsylManager-form-button {
	text-align: center;
}

/******************************************************
*                        SuggestBox
**
.gwt-SuggestBox
{
    border                      :    1px solid #666;
    text-align                  :    left;
    width                       :    400px;
}
.gwt-SuggestBoxPopup
{
    text-align                   :    left;
    cursor                       :    pointer;
    cursor                       :    hand;
    border                       :    1px solid #666;
    border-top                   :    0;
    background-color             :    #fff;

}
.gwt-SuggestBoxPopup .item
{
    border                       :    1px dotted #aaa;
    width                        :    398px;
}
.gwt-SuggestBoxPopup .item-selected
{
    background-color             :    #ffc;
}
****************************************************/
