.OsylManager-form-title {
	font-size: 14px;
	font-weight: bold;
}

.OsylManager-form-button {
	text-align: center;
}

.OsylManager-action a{
	font-size: 14px;
}

.OsylManager-action a:HOVER{
	cursor: pointer;
}

.OsylManager-action-disable a{
	color: #bbbbff
}

.OsylManager-action-disable a:HOVER{
	color: #bbbbff;
	cursor: text
}

.OsylManager-infoView{
	padding-left: 10px; 
	padding-top: 10px;
}

.OsylManager-infoView .topCenter,
.OsylManager-infoView .bottomCenter {
  background:url(images/hborder.png) repeat-x;
  height:8px;
  background-color: #f2f2f2
}
.OsylManager-infoView .bottomCenter {background-position:bottom left}

.OsylManager-infoView .topCenter {background-position:top left}

.OsylManager-infoView .middleLeft,
.OsylManager-infoView .middleRight {
  background:url(images/vborder.png) repeat-y;
  width:8px;
  background-color: #f2f2f2
}
.OsylManager-infoView .middleRight {background-position:top right}

.OsylManager-infoView .topLeftInner,
.OsylManager-infoView .topRightInner,
.OsylManager-infoView .bottomLeftInner,
.OsylManager-infoView .bottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}
.OsylManager-infoView .topLeft {
  background: url(images/workspace_corner.png) no-repeat 0 0;
  -background: url(images/workspace_corner_ie6.png) no-repeat 0 0;
}
.OsylManager-infoView .topRight {
  background: url(images/workspace_corner.png) no-repeat -8px 0;
  -background: url(images/workspace_corner_ie6.png) no-repeat -8px 0;
}
.OsylManager-infoView .bottomLeft {
  background: url(images/workspace_corner.png) no-repeat 0 -8px;
  -background: url(images/workspace_corner_ie6.png) no-repeat 0 -8px;
}
.OsylManager-infoView .bottomRight {
  background: url(images/workspace_corner.png) no-repeat -8px -8px;
  -background: url(images/workspace_corner_ie6.png) no-repeat -8px -8px;
}
* html .OsylManager-infoView .topLeftInner,
* html .OsylManager-infoView .topRightInner,
* html .OsylManager-infoView .bottomLeftInner,
* html .OsylManager-infoView .bottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}
.OsylManager-infoView .middleCenterInner {	
	margin:0 0 -5px 0;
	background-color: #f2f2f2
}

.OsylManager-mainView-actionList td{
	padding-right: 5px;
	padding-bottom: 1px;
}

.OsylManager-mainView-actionList{
	padding-left: 10px;
}

.OsylManager-form{
	padding:4px;
	font:normal 100% Arial, Verdana, sans-serif;
	color:#000;
	background-color:#FFF;
	border:2px outset;
	width: 600px;
}

.OsylManager-form-title{
	font:bold 14px Arial,Verdana,sans-serif;
	margin-bottom:10px;
	text-align:center;
}

.OsylManager-form-label{
	font:bold 12px Arial,Verdana,sans-serif;
}

.OsylManager-form-genericPanel{
	margin:3px;
	width:600px;
}

.OsylManager-mainView-mainPanel{
}

.OsylManager-mainView-tabBar {}

.OsylManager-mainView-tabBar .gwt-TabBarItem-wrapper {}

.OsylManager-mainView-tabBar .gwt-TabBarItem-wrapper-selected { }

.OsylManager-mainView-tabBar .gwt-TabBarFirst {
width:0px;
}
.OsylManager-mainView-tabBar .gwt-TabBarRest {
}
.OsylManager-mainView-tabBar .gwt-TabBarItem {
background:none repeat scroll 0 0 #f2f2f2;
color:black;
cursor:pointer;
font-weight:normal;
margin-left:6px;
padding:3px 6px;
text-align:center;
}
.OsylManager-mainView-tabBar .gwt-TabBarItem-selected {
background:none repeat scroll 0 0 #f2f2f2;
cursor:default;
color: black;
font-weight: bold;
}
.OsylManager-mainView-tabBar .gwt-TabBarItem-disabled {
color:#a2a2a2;
cursor:default;
}

.OsylManager-mainView-tabPanel .gwt-TabPanelBottom {
border-color:#d6dbdf;
border-style:solid;
border-width:3px 2px 2px;
overflow:hidden;
padding:6px;
}

.OsylManager-form .dragdrop-handle {
cursor:pointer;
}
