/* ---- CSS definitions overriding default GWT styles -------------- */

.gwt-Button {
	/*background:transparent;
	border-color:#AAA #DDD #DDD #AAA;
	padding:2px;
	width:80px;
	height:26px;*/
	margin:5px 2px;
	width:85px;
	height:30px;
/*	background:transparent url(img/button/osyl_button_gwt.png) no-repeat; */
	background:transparent url(images/button/osyl_button_gwt.png) no-repeat;
	border:0;
	cursor:pointer;
}
.gwt-Button:hover {
	background-position:left bottom;
}
.gwt-Button:active {
  border-color:#AAA #CCC #CCC #AAA;
}

.gwt-Button[disabled] {
  background:#CCC;
  border-color:#999 #CCC #CCC #999;
  color:#888;
}

.gwt-DialogBox {
	background-color:#FCFCFC;
	border:3px solid #454a4f;
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:1px 1px 10px #000;
 	box-shadow:1px 1px 10px #000;
}
.gwt-DialogBox .dialogTopCenter {background-color:#454a4f;}
.gwt-DialogBox .Caption, .gwt-DialogBox .mosaic-Caption {
  padding:4px 4px 8px;
  cursor:default;
}

.gwt-DialogBox .Caption {
/*	background:transparent url(img/exclamation.png) no-repeat 1px 2px; */
	background:transparent url(images/exclamation.png) no-repeat 1px 2px;
	padding-left:28px;
  	font-weight:bold;
  	/*margin:2px;*/
	color:#FFF;
	margin:0;
	background-color:#454a4f;
}

.gwt-FileUpload {
	width:250px;
	margin:10px;
}

.gwt-Hyperlink > a:link {
	text-decoration:none !important; /* ByPass the underline style in the gwt stylesheet. */
	text-decoration:none;
	white-space:nowrap;
}

.gwt-Hyperlink > a:hover {
	text-decoration:underline !important;
	color:#006e96;
}

.gwt-Label {
	font-size:0.8em;
	cursor:default;
}

.gwt-TabPanel {
  margin-top:4px;
}

.gwt-TabPanelBottom {
  background-color:#E8EEF7;
}

.gwt-TabBar {
  padding-top:2px;
  border-bottom:4px solid #87B3FF;
  background-color:#FFF;
}

.gwt-TabBar .gwt-TabBarItem {
  padding:4px;
  background-color:#e8eef7;
  border-bottom:2px solid #FFF;
  margin-right:2px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  padding:4px;
  font-weight:bold;
  background-color:#87b3ff;
  border-bottom:2px solid #87b3ff;
  margin-right:2px;
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color:#FCFCFC;
}
/*Cette classe à été ajoutée.*/
.gwt-StackPanel .gwt-StackPanelItem-selected {
}

.gwt-PushButton-up {
/*   background-color:#C3D9FF; */
  padding:3px;
  border:1px solid transparent;
/*   border-color:#E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255); */
  cursor:pointer;
}

.gwt-PushButton-up-hovering {
  border:1px solid #FCFCFC;
  padding:3px;
  cursor:pointer;
}

.gwt-PushButton-down {
/*   background-color:#FCFCFC; */
  padding:3px;
  border:1px solid #FCFCFC;
/*   border-color:#9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205); */
  cursor:pointer;
}

.gwt-PushButton-down-hovering {
/*   background-color:#FCFCFC; */
  padding:3px;
  border:1px solid #FCFCFC;
/*   border-color:#9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205); */
  cursor:pointer;
}

.gwt-ToggleButton-up {
  background-color:#FCFCFC;
  padding:2px;
  border:2px solid transparent;
  border-color:#E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor:pointer;
}

.gwt-ToggleButton-up-hovering {
  background-color:#FCFCFC;
  padding:2px;
  border:2px solid transparent;
  border-color:#E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor:pointer;
}

.gwt-ToggleButton-down {
  /*background-color:#FCFCFC;*/
  padding:2px;
  background-color:#E8F1FF;
  border:2px solid transparent;
  border-color:#9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor:pointer;
}

.gwt-ToggleButton-down-hovering {
  /*background-color:#FCFCFC;*/
  padding:2px;
  background-color:#E8F1FF;
  border:2px solid transparent;
  border-color:#9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor:pointer;
}

.gwt-RichTextArea {
  border:1px solid #878A8C;
  background-color:#FFF;
  margin:2px 0 0 2px;
}

.gwt-RichTextToolbar {
  width:100%;
  text-align:left;
  background-color:#FCFCFC;
  padding:2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right:2px;
  border:1px solid #FCFCFC;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right:2px;
  border:1px solid #FCFCFC;
  border-color:#E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right:2px;
  border:1px solid #FCFCFC;
  border-color:#9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right:2px;
  border:1px solid #FCFCFC;
  border-color:#9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right:2px;
  border:1px solid #FCFCFC;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right:2px;
  border:1px solid #FCFCFC;
  border-color:#E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right:2px;
  background-color:#E8F1FF;
  border:1px solid #FCFCFC;
  border-color:#9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right:2px;
  background-color:#E8F1FF;
  border:1px solid #FCFCFC;
  border-color:#9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
  border:8px solid #FCFCFC;
}

.gwt-HorizontalSplitPanel .hsplitter {
  background-color:#FFF;
  cursor:e-resize;
}
/*Cette classe à été ajoutée*/
.gwt-HorizontalSplitPanel .left {
  background-color:#E8EEF7;
}
/*Cette classe à été ajoutée*/
.gwt-HorizontalSplitPanel .right {
  background-color:#E8EEF7;
}

/*.gwt-VerticalSplitPanel {
}*/

.gwt-VerticalSplitPanel .splitter {
  background-color:#FCFCFC;
  height:8px;
  /*cursor:move;*/
}

.gwt-SuggestBoxPopup {
  border:2px solid #FCFCFC;
}

.gwt-SuggestBoxPopup .item {
  padding:2px;
}

.gwt-SuggestBoxPopup .item-selected {
  background-color:#FCFCFC;
  padding:2px;
}

/*-- Date Picker --*/
.gwt-DatePicker {
  border: 1px solid #888;
  cursor: default;
}

.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none
}

.datePickerMonthSelector td:focus {
  outline: none
}

.datePickerDays {
  width: 100%;
  background: white;
}

.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 75%;
  text-align: center;
  padding: 4px;
  outline: none;
}

.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #c1c1c1;
  padding: 0px 4px 2px;
  cursor: default;
}

.datePickerDay {
  padding: 4px;
  cursor: hand;
  cursor: pointer;
}

.datePickerDayIsToday {
  border: 1px solid black;
  padding: 3px;
}

.datePickerDayIsWeekend {
  background: #EEEEEE;
}

.datePickerDayIsFiller {
  color: #888888;
}

.datePickerDayIsValue {
  background: #abf;
}

.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}

.datePickerDayIsHighlighted {
  background: #dde;
}

.datePickerDayIsValueAndHighlighted {
  background: #ccf;
}

.datePickerMonthSelector {
  background: #c1c1c1;
  width: 100%;
}

.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  cursor: hand;
  cursor: pointer;
  padding: 0px 4px;
}

td.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-size: 70%;
  font-weight: bold;
}

.dateBoxPopup{
	z-index: 15000;
	
/* ---- CSS definitions overriding default GWT styles (incubator widgets) */

/* Date picker styles */

.goog-date-picker {
  background-color:#FFF;
  width:100%;
  border:1px solid #f1f1f1;
  border-bottom:2px solid #f1f1f1;
  color:#6b6b6b;
}

.goog-date-picker td {
  font-family:Arial;
  font-size:9px;
  padding:2px;
  text-align:center;
  padding:2px;
  cursor:pointer;
  outline:none;
  -moz-outline:none;
}

.goog-date-picker td,.monthSelector td :focus {
  outline:none;
}

.gwt-DateBox {
  width:10em;
}

/* Calendar styles */

.goog-date-picker .filler {
  color:#bfbfbf;
}

 .goog-date-picker .selected {
  background:#aaccee;
}

.goog-date-picker .day-title {
  background:#dbe6de;
}

.goog-date-picker .highlighted {
  background:#ccee11;
}

.goog-date-picker .today {
  border:1px solid #000;
}

.goog-date-picker .weekend {
  background:#f1f1f1;
}

.goog-date-picker .disabled {
  color:graytext;
}

/* Month selector styles */

.monthSelector {
  background:#dbe6de;
  width:100%;
  text-align:center;
}

.monthSelector td {
  font-weight:bold;
  font-size:70%;
}

.monthSelector .month-label {
  text-align:center;
}

/* helper styles */

.goog-date-picker .red-date {
  background-color:red;
}

.goog-date-picker .blue-background {
  background-color:blue;
}

.goog-date-picker .red-text {
  color:red;
}

.goog-date-picker .green-border {
  border:1px solid green;
}

.selected-date {
	background-color:#FCFCFC;
}
	