<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>OsylManagerGwtServiceImpl</servlet-name>
		<servlet-class>org.sakaiquebec.opensyllabus.manager.server.OsylManagerGwtServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>remoteLoggingService</servlet-name>
		<servlet-class>com.google.gwt.gen2.logging.server.RemoteLoggingService</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>OsylManagerGwtServiceImpl</servlet-name>
		<url-pattern>/OsylManagerGwtService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>remoteLoggingService</servlet-name>
		<url-pattern>/OsylManagerEntryPoint/logging</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>OsylManagerEntryPoint.html</welcome-file>
	</welcome-file-list>

</web-app>